
<%- include('partials/header')%>
    <!--  -->
  <%- include('partials/nav')%>
      <!--  -->
      <div class="rounded-xl w-[80%] py-[10%] bg-red-400 m-auto boder-4xl ">
        <h1 class="text-center text-5xl  font-extrabold text-red-200">About the Application </h1>
         
        <p class="w-[80%] text-center font-semibold m-auto mt-10 text-1xl ">Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat accusamus temporibus necessitatibus in officiis, ex modi aperiam cumque voluptates.</p>

        <p class="flex justify-center gap-x-10 mt-10">
            <a class=" hover:bg-red-300 text-2xl font-semibold rounded-xl py-3 px-5" href="/login">continue surfing</a>

            <!-- <a class="hover:bg-red-600 rounded text-white py-3 px-5 bg-red-400" href="/register"> start your journey Today</a> -->
        </p>

        
        
    </div>
    
<!--  -->
      
      <%- include('partials/footer')%>